* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: #4B0082;
    padding: 11.5px;
    text-align: center;
    position: fixed;
    width: 100%;

}

section {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

}

h1 {
    font-size: 50px;
}

nav a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
}

nav a {
    cursor: pointer;
}

#cl1 {
    text-align: center;
    padding: 50px;
    background: #F8F8FF;
}

#cl1 img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #800882;
}

#cl1 h1 {
    margin-top: 20px;
}

#cl1 p {
    color: #555;
}

h2 {
    font-size: 30px;
}

#my1 {
    padding-bottom: 30px;
    padding-top: 50px;
    text-align: center;
    background-color: #dad7be;
}

#my1 h2 {
    margin-bottom: 20px;
}

#my1 ul {
    list-style: none;
}

#my1 li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #FFD700;
    /* Gold */
    color: #000;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#edu1 {
    padding-bottom: 30px;
    padding-top: 50px;
    background: #cde5fe;
}

#edu1 h2 {
    text-align: center;
    margin-bottom: 20px;
}

.educ1 {
    background: #0073e6;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 8x rgba(0, 0, 0, 0.2);
}

#pro1 {
    padding: 50px;
    background: #FFF5E6;
}

#pro1 h2 {
    text-align: center;
    margin-bottom: 20px;
}

.pro2 {
    display: block;
    background: #FF8C42;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    text-align: left;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pro3 {
    display: block;
    background: #FF8C42;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    text-align: left;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cont1 {
    padding: 40px;
    text-align: center;
    background: #4B0082;
    color: #fff;
    border-radius: 0;
}

#cont1 a {
    color: #098956;
    text-decoration: none;
}

button {
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #000000;
    color: #fff;
}


html {
    scroll-behavior: smooth;
}

.b1 {
    background-color: #FFD700;
    /* Gold */
    color: #000;
    font-weight: bold;
    padding: 12px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.b1 a {
    text-decoration: none;
}

.b1:hover,
#my1 li:hover,
button:hover {
    transform: scale(1.05);
    background-color: #E6BE00;
    /* Slightly darker yellow */
    transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
    #cl1 img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 30px;
    }

    nav a {
        display: block;
        padding: 10px;
    }
}
.hero-img img {
    width: 60px;
    height: 60px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation:image 9s ease-in-out infinite;
    box-shadow: 0 0 50px rgba(74, 0, 170, 0.456);
}

@keyframes image {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    50% {
        border-radius: 70% 30% 41% 59% / 55% 25% 75% 45%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}